@charset "UTF-8";

@media screen and (max-width: 500px){
    
    #inicio{
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
    }

    #resp{
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
    }

}

@media screen and (max-width: 334px){
    main h2{
        font-size: 2em;
    }

    div#inicio.padrão{
        padding: 50px 0px;
    }
}