@charset "UTF-8";

@media screen and (max-width: 736px){
    
    #inicio{
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
    }

    #resp{
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
    }

}